* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Inter', sans-serif;
}

.conteiner {
	background: #212529;
	min-width: 1400px;
	height: 100%;
	margin: 0 auto;
}

.header {
	margin: 0 auto;
	width: 90%;
	height: 66px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {
	display: flex;
	width: 50%;
	justify-content: space-around;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.8rem;
}

.header__menu a {
	text-decoration: none;
	list-style: none;
	color: #FFFFFF;
}

a:hover li {
	color: #FFB742;
	transition: all .4s;
}

.header__btn {
	width: 121px;
	height: 54px;
	background: #FFB742;
	border: 2px solid #FFB742;
	border-radius: 50px;
}

.header__btn a {
	text-decoration: none;
}

.header__btn p {
	color: #212529;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	font-size: 1.8rem;
	text-transform: capitalize;
}

.block-name {
	margin: auto;
	width: 70%;
	height: 459px;
	margin-top: 108px;
	font-family: 'Inter', sans-serif;
	text-transform: capitalize;
	color: #FFFFFF;
	text-align: center;
}

.block-name__top {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 51px;
}

.block-name__top span {
	color: #FFB742;
	display: inline;
	border-bottom: 2px solid #FFB742;
}

.block-name__middle {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 91px;
}

.block-name__bottom {
	font-weight: 400;
	font-size: 24px;
	line-height: 51px;
	margin-top: 25px;
}

.block-name__image {
	margin-top: 16px;
}

.cards {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 120px auto 0;
}

.card {
	width: 31.5%;
	background: #292b2e;
	color: #FFFFFF;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 3rem 0;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
}

.card:hover {
	background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.card:hover .card-title,
.card:hover .card-subtitle {
	color: #212529;
}

.card-title {
	font-size: 3.2rem;
	color: #FFB742;
}

.card-subtitle {
	font-size: 1.6rem;
	color: #FFFFFF;
}

.block-about {
	margin-top: 220px;
	width: 95%;
	height: 650px;
	display: flex;
	justify-content: space-between;
}

.block-about__image {
	width: 45%;
	align-self: flex-end;
}

.block-about__info {
	width: 45%
}

.block-about__who,
.skills__info_my,
.works__my,
.reviews-test {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	color: #FFB742;
	width: 148px;
	height: 42px;
	border: 2px solid #292B2E;
	border-radius: 50px;
	background-color: #292B2E;
}

.block-about__title, 
.skills__info_title,
.works__title,
.reviews-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 30px;
	color: #FFFFFF;
	text-transform: capitalize;
	margin-top: 10px;
}

.block-about__text,
.skills__info_text {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 30px;
	color: #D4D4D4;
	margin-top: 30px;
	width: 672px;
}

.block-about__btn,
.skills__btn {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 50px;
	color: #212529;
	text-transform: capitalize;
	width: 121px;
	height: 54px;
	background: #FFB742;
	border: 2px solid #FFB742;
	border-radius: 50px;
	margin-top: 55px;
}

.block-about__info a {
	text-decoration: none;
	text-align: center;
}

.skills {
	margin: 18px auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.skills__info {
	width: 45%;
}

.skills__info_title {
	margin-top: 1px;
	width: 518px;
	line-height: 60px;
}

.skills__info_text {
	width: 672px;
}

.skills__btn {
	margin-top: 63px;
}

.skills a {
	text-decoration: none;
	text-align: center;
}

.skills__items {
	width: 560px;
	height: 176px;
}

.skills__item_one,
.skills__item_two {
	display: flex;
	justify-content: space-between;
}

.skills__item_one div,
.skills__item_two div {
	width: 80px;
	height: 80px;
	border: 2px solid #292B2E;
	border-radius: 10px;
	background-color: #292B2E;
	margin: 7px auto;
	text-align: center;
}

.skills__item_one img,
.skills__item_two img {
	padding: 15px;
}

.skills__item_one div:hover,
.skills__item_two div:hover {
	background-color: #ae6f09;
	transition: all .3s;
}

.works {
	width: 80%;
	height: 1039px;
	margin: 136px auto;
}

.works__my {
	margin: 0 auto;
}

.works__title {
	text-align: center;
}

.works__items {
	margin: 30px auto 48px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	width: 652px;
	height: 40px;
}

.works__items div {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 37px;
	color: #FFFFFF;
	text-transform: capitalize;
	border-radius: 3px;
	margin: 0 20px;
	height: 40px;
}

.works__one {
	width: 61px;
}

.works__two {
	width: 132px;
}

.works__three {
	width: 167px;
}

.works__four {
	width: 240px;
}

.works__one:hover,
.works__two:hover,
.works__three:hover,
.works__four:hover {
	background-color: #FFB742;
	color: #000;
	transition: all .3s;
}

.works__projects {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
}

.section-one,
.section-two,
.section-three {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	gap: 2.5rem;
} 

.block-reviews {
	width: 80%;
	height: 642px;
	margin: 134px auto;
}

.reviews-test {
	width: 192px;
	margin: 0 auto;
}

.reviews-title {
	text-align: center;
	margin-bottom: 91px;
}

.reviews-cards {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
}

.reviews-card {
	width: 378px;
	height: 455px;
	background-color: #FFFFFF;
	border-radius: 8px;
}

.rev-stars {
	display: flex;
	padding: 52px 33px;
	gap: 0.8rem
	;
}

.rev-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	line-height: 34px;
	color: #000;
	width: 294px;
	height: 210px;
	text-align: start;
	margin: -20px 33px 36px;
}

.rev-photo {
	margin-left: 32px;
}

.rev-name {
	margin-left: 134px;
	margin-top: -81px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	line-height: 34px;
	text-transform: capitalize;
}

.rev-prof {
	margin-left: 133px;
	margin-top: -3px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 34px;
	text-transform: capitalize;
}

.footer {
	margin-top: 256px;
	width: 100%;
	height: 470px;
	background-color: #1C1C1C;
	display: flex;
	justify-content: space-around;
}

.footer-name {
	width: 253px;
	height: 130px;
	margin-left: 50px;
	padding-top: 148px;
}

.footer-kartik {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 100%;
	color: #FFB742;
	text-transform: capitalize;
}

.footer-text {
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 32px;
	color: #D4D4D4;
	margin-top: 31px;
}

.footer-links {
	width: 140px;
	height: 229px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin-top: 55px;
}

.footer-links p {
	padding-bottom: 20px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 2.1rem;
	line-height: 32px;
	color: #F5FBF2;
	text-transform: capitalize;
}

.footer-links div {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 36px;
	text-transform: capitalize;
}

.footer-links a {
	text-decoration: none;
	color: #7B7B7B;
}

.footer-social {
	width: 144px;
	height: 233px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin-top: 55px;
}

.footer-social p {
	padding-bottom: 20px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 2.1rem;
	line-height: 32px;
	color: #F5FBF2;
	text-transform: capitalize;
}

.footer-social div {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 36px;
	text-transform: capitalize;
}

.footer-social a {
	text-decoration: none;
	color: #7B7B7B;
}

.footer-newsletter {
	width: 319px;
	height: 114px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin-top: -55px;
}

.footer-newsletter p {
	padding-bottom: 20px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 2.1rem;
	line-height: 32px;
	color: #F5FBF2;
	text-transform: capitalize;
}

.footer-newsletter div {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 36px;
	color: #7B7B7B;
}