* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Rosario', sans-serif;
}

.container {
	background-color: #fff;
	min-width: 1500px;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 129px;
	background-color: #000;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 5;
}

.header-logo {
	width: 25%;
}

.header-logo img {
	display: inline-block;
	height: 100%;
}

.header-menu {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-menu div {
	font-style: italic;
	font-weight: 700;
	font-size: 3.6rem;
	line-height: 44px;
	text-transform: capitalize;
}

.header-menu a {
	text-decoration: none;
	color: #FFFCFC;
	margin: 20px;
}

.gallery-block {
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 72px auto 96px;
	gap: 3rem;
}

.photo-gallery_two,
.photo-gallery_three,
.photo-gallery_one,
.photo-gallery_four {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 25%;
}

.photo-gallery_two {
	position: relative;
	z-index: 2;
	top: 30px;
	left: -1000px;
	width: 400px;
	transition: 5s all;
	animation: photo-gallery_two 4s linear forwards;
}

	@keyframes photo-gallery_two {
		0% {
		transform: translateX(0);
	}

	20% {
	transform: translateX(200px);
	}

	40% {
		transform: translateX(400px);
	}

		60% {
		transform: translateX(600px);
	}

	80% {
		transform: translateX(800px);
	}

	100% {
		transform: translateX(1000px);
	}
}

.photo-gallery_one {
	position: relative;
	z-index: 1;
	top: 30px;
	left: -650px;
	max-width: 30%;
	transition: 2s all;
	transition-delay: 2s;
	animation: photo-gallery_one 5s linear forwards;
}

@keyframes photo-gallery_one {
	0% {
		transform: translate(0, 10px);
	}

	20% {
		transform: translate(130px, 10px);
	}

	40% {
		transform: translate(260px, 10px);
	}

	60% {
		transform: translate(390px, 10px);
	}

	80% {
		transform: translate(520px, 10px);
	}

	100% {
		transform: translate(650px, 10px);
	}
}

.photo-gallery_three {
	position: relative;
	z-index: 2;
	top: 30px;
	right: -1000px;
	width: 400px;
	transition: 5s all;
	animation: photo-gallery_three 4s linear forwards;
}

	@keyframes photo-gallery_three {
		0% {
		transform: translateX(0);
	}
	
		20% {
		transform: translateX(-200px);
	}
	
		40% {
		transform: translateX(-400px);
	}
	
		60% {
		transform: translateX(-600px);
	}
	
		80% {
		transform: translateX(-800px);
	}
	
		100% {
		transform: translateX(-1000px);
	}
}

.photo-gallery_four {
	position: relative;
	z-index: 1;
	top: 30px;
	right: -650px;
	max-width: 30%;
	transition: 5s linear;
	animation: photo-gallery_four 5s linear forwards;
}

@keyframes photo-gallery_four {
	0% {
		transform: translate(0, 10px);
	}

	20% {
		transform: translate(-130px, 10px);
	}

	40% {
		transform: translate(-260px, 10px);
	}

	60% {
		transform: translate(-390px, 10px);
	}

	80% {
		transform: translate(-520px, 10px);
	}

	100% {
		transform: translate(-650px, 10px);
	}
}

.photo-gallery_one,
.photo-gallery_four {
	width: 25%;
}

.photo-gallery_one {
	margin-right: 50px;
}

.photo-gallery_four {
	margin-left: 50px;
}

.photo-gallery_three {
	align-self: stretch;
	justify-content: space-between;
}

.service-block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	width:  100%;
}

.service-block_photos {
	margin: 0 auto;
	position: relative;
}


.service-block_one,
.service-block_two {
	margin-top: 150px;
	position: absolute;
}

.service-block_one {
	right: 70px;
}

.service-block_two {
	left: 50px;
}

.service__photo_one {
	animation: service__photo_one 8s linear infinite;
	transition: 4s linear;
}

@keyframes service__photo_one {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(520px);
	}

	50% {
		transform: translate(520px, 520px);
	}

	75% {
		transform: translate(0, 520px);
	}

	100% {
		transform: translate(0, 0);
	}
}

.service__photo_two {
	animation: service__photo_two 8s linear infinite;
	transition: 4s linear;
}

@keyframes service__photo_two {
	0% {
		transform: translate(0);
	}

	25% {
		transform: translate(0, 520px);
	}

	50% {
		transform: translate(-520px, 520px);
	}

	75% {
		transform: translate(-520px, 0);
	}

	100% {
		transform: translate(0, 0);
	}
}

.service__photo_four {
	animation: service__photo_four 8s linear infinite;
	transition: 4s linear;
}

@keyframes service__photo_four {
	0% {
		transform: translate(0);
	}

	25% {
		transform: translate(-520px, 0);
	}

	50% {
		transform: translate(-520px, -520px);
	}

	75% {
		transform: translate(0, -520px);
	}

	100% {
		transform: translate(0, 0);
	}
}

.service__photo_three {
	animation: service__photo_three 8s linear infinite;
	transition: 4s linear;
}

@keyframes service__photo_three {
	0% {
		transform: translate(0);
	}

	25% {
		transform: translate(0, -520px);
	}

	50% {
		transform: translate(520px, -520px);
	}

	75% {
		transform: translate(520px, 0);
	}

	100% {
		transform: translate(0, 0);
	}
}


.service-block_photos p {
	font-style: italic;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 58px;
	color: #000;
	text-align: center;
	text-transform: capitalize;
	white-space: nowrap;
}

.service__photo_four,
.service__photo_three {
	margin-top: 70px;
}

.team-block__title {
	text-align: center;
	margin-top: 13px;
}

.team-block__title p {
	font-weight: 700;
	font-size: 9.6rem;
	line-height: 116px;
	color: #000;
	text-transform: capitalize;
}

.team-block__photo {
	display: flex;
	justify-content: space-evenly;
	margin-top: 51px;
	margin-bottom: 10px;
	gap: 5rem;
}

.contacts-block {
	margin: 179px 169px 20px;
	position: relative;
}

.contacts-block__title {
	width: 798px;
	height: 173px;
}

.contacts-block__title p {
	font-style: italic;
	font-weight: 700;
	font-size: 6.4rem;
	line-height: 78px;
	text-align: center;
	color: #000;
}


.contacts-block__form {
	width: 936px;
	height: 400px;
	background: #E5E5E5;
}

.contacts__text {
	width: 377px;
	height: 80px;
	margin: 35px 50px 45px 29px;
}

.contacts__email {
	width: 452px;
	height: 80px;
	margin: 37px 28px 45px -3px;
}

.contacts__comment {
	width: 878px;
	height: 209px;
	resize: none;
	margin-left: 29px;
}

.contacts__text,
.contacts__email,
.contacts__comment {
	font-family: 'Rosario', sans-serif;
	padding-left: 25px;
	font-weight: 700;
	font-size: 3.6rem;
	line-height: 44px;
	color: #000
}

.contacts-block__iframe {
	position: absolute;
	top: 0;
	right: -30px;
}

.contacts-block__info {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.contacts-block__info_private {
	width: 565px;
	height: 187px;
	text-align: center;
}

.contacts-block__email p,
.contacts-block__tel p,
.contacts-block__adress p {
	display: inline-block;
	font-weight: 700;
	font-size: 3rem;
	line-height: 36px;
	text-transform: capitalize;
}

.contacts-block__email a,
.contacts-block__tel a {
	font-style: italic;
	font-weight: 600;
	font-size: 3rem;
	line-height: 36px;
	color: #000;
	text-decoration: none;
}

.contacts-block__adress span {
	font-style: italic;
	font-weight: 600;
	font-size: 3rem;
	line-height: 36px;
	color: #000;
}

.contacts-block__info_timetable {
	width: 485px;
	height: 187px;
	text-align: center;
}

.info_timetable_title {
	font-weight: 700;
	font-size: 3.6rem;
	line-height: 44px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 30px;
}

.info_timetable {
	font-style: italic;
	font-weight: 600;
	font-size: 3rem;
	line-height: 36px;
	color: #000;
}

.contacts-block__info_social {
	width: 390px;
	height: 186px;
}

.info_social_title {
	font-weight: 700;
	font-size: 3rem;
	line-height: 36px;
	color: #000;
	text-transform: capitalize;
}

.info_social_inst img,
.info_social_fb img,
.info_social_twitter img {
	position: relative;
	top: 20px;
	left: 40px;
	margin-top: -20px;
}

.info_social_fb img {
	position: relative;
	top: 20px;
	left: 35px;
}


.info_social_inst p,
.info_social_fb p,
.info_social_twitter p {
	font-style: italic;
	font-weight: 600;
	font-size: 3rem;
	line-height: 36px;
	text-transform: capitalize;
}

.info_social_inst p {
	position: relative;
	bottom: 13px;
	right: -93px;
}

.info_social_fb p {
	position: relative;
	bottom: 15px;
	right: -93px;
}

.info_social_twitter p {
	position: relative;
	bottom: 14px;
	right: -92px;
}


